<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>enceladus00's rating analysis</title>
</head>

<img src="../static/banner.jpg" width="600px" height="336px">

<body class="index">
    <div class="container">
        <h1>enceladus00's <span class="rating">rating</span> analysis</h1>
        <form action="/result" method="post">
            <label for="selected_show">Select a TV Show:</label>
            <select id="selected_show" name="selected_show" required>
                <option value="Breaking Bad" selected>Breaking Bad</option>
                {% for series in series_list %}
                <option value="{{ series }}">{{ series }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit" name="user_choice" value="heatmap">Generate Heatmap</button>
            <button type="submit" name="user_choice" value="graph">Generate Graph</button>
        </form>
    </div>

    <div class="bottom-navbar">
        <a href="https://github.com/enceladus00" target="_blank" class="github-link">Github</a>
        <a href="https://science.nasa.gov/saturn/moons/enceladus/" target="=_blank" class="enceladus-link">What is an "Enceladus" ?</a>
        <a href="#Contact" class="contact-link">Contact</a>

    </div>
</body>

</html>

